.matchup-container {
    width: 85vw;
    min-height: calc(85vh - 120px);
    height: fit-content;
    margin: 5px 0px 16px 10px;
    display: flex;
    flex-direction: column;
    border: forestgreen 10px solid;
    border-radius: 10px 0 0 10px;
    border-right: 0;
    color: black;
    font-size: 3rem;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 20px; 

    .matchup-card-header {
        font-size: 24px;
        font-weight: 700;
        color: black;
    }
}