.sidebar {
    min-width: 180px;
    max-width: 15vw;
    margin: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    border: forestgreen 10px solid;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    color: black;
    font-size: 3rem;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 20px; 
}