.App {
  text-align: center;
}

.App-container {
  background-color: #181c28;
  font-family: 'Graduate', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

